{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>{% block title %}{% endblock title%}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		{% tailwind_css %}
	</head>

	<body  > <!--class="bg-gray-50 font-serif leading-normal tracking-normal"-->
		

		<div class="bg-gray-50" style="background-color: aqua;">
			<div class="mx-auto max-w-7xl py-12 px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
			  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
				<span class="block">Nations League</span>
				<span class="block text-indigo-600">Todos los datos, aquí.</span>
			  </h2>
			  <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
				<div class="inline-flex rounded-md shadow">
				  <a href="#" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Login</a>
				</div>
				<div class="ml-3 inline-flex rounded-md shadow">
				  <a href="#" class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-indigo-600 hover:bg-indigo-50">Regístrate</a>
				</div>
			  </div>
			</div>
		  </div>
		  

		  <div class="bg-gray-50 font-serif leading-normal tracking-normal lg:items-center">

		  
					{% block content %}
					
					{% endblock content %}
			</div>

	</body>
</html>
